{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row justify-content-center" style="margin-top: 10px;">
        <div class="jumbotron ">
            <p>{{ 'Prénom'|trans }}: {{ user.firstname }}</p>
            <p>{{ 'Nom'|trans }}: {{ user.lastname }}</p>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
    </div>
</div>
