{% trans_default_domain 'FOSUserBundle' %}


<div class="row " style="margin-top: 20px;">

    <div class="col-md-3" ></div>

    <div class="col-md-6 " style="background-color: #DDD; padding-top: 20px; padding-bottom: 20px; border-radius: 10px;" >

        <form action="{{ path('fos_user_registration_register') }}"  method="POST">

            <div class="form-group">
                <label ><h2>M'inscrire</h2></label>
            </div>
            <div class="form-group" id="fos_user_registration_form">
                <div class="form-group">
                    {{ form_label(form.gender) }}
                    {{ form_widget(form.gender)}}
                    {{ form_errors(form.gender) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'show.user.first_name'|trans } }) }}
                    {{ form_errors(form.firstname) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'show.user.last_name'|trans } }) }}
                    {{ form_errors(form.lastname) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.birthday) }}
                    {{ form_widget(form.birthday)}}
                    {{ form_errors(form.birthday) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.postcode) }}
                    {{ form_widget(form.postcode, { 'attr': {'class': 'form-control', 'placeholder': 'show.user.postcode'|trans } }) }}
                    {{ form_errors(form.postcode) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>

                    {{ form_rest(form) }}

                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" >
                                J'accepte les <a href="/cgu" > conditions générales d'utilisation </a>
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg btn-success " type="submit" id="_submit" name="_submit" style="padding-right: 30px; padding-left: 30px;"/>
                Inscription
            </button>
        </form>
        <div class="pull-right"><a href="/"><button type="button" class="btn btn-primary btn-lg">Retour à l'accueil !</button></a></div>
    </div>
</div>